* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0 0 10em;
  padding: 0;
  font-size: 100%;
  font-family: "Source Sans Pro";
  color: #323232;
}
html {
  background: #ffffff;
  position: relative;
  min-height: 100%;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
a {
  color: #323232;
  text-decoration: underline;
}
a:hover,
a:active {
  color: #00546d !important;
  outline: none;
}
#headline {
  text-align: center;
  font-size: 3em;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1em;
}
h2 {
  text-align: center;
  font-weight: 300;
  font-size: 1.8em;
}
h3 {
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;
}
.lead {
  text-align: center;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.125em;
  margin: 0.5em 0;
}
.lead2 {
  text-align: center;
  font-weight: 300;
  font-size: 1.8em;
  line-height: 1.125em;
  margin: 1em 0;
}
p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
}
.columns > img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 300px;
  margin: 1em auto;
}
.bold {
  font-weight: 700;
  display: inline-block;
}
.lb1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.ham-btn {
  display: block;
  float: right;
  width: 3em;
  height: 3.125em;
}
.ham-btn:hover {
  background: #f0f0f0;
}
.ham-btn div {
  margin: 10px;
  margin-top: 14px;
}
.ham-btn div span {
  margin-top: 20%;
  height: 4px;
  background: black;
  display: block;
}
.ham-btn div span:nth-child(1) {
  margin-top: 0;
}
.nav-bg {
  position: relative;
  top: 0;
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #00c5ff;
  font-weight: 300;
}
.nav-bg .logo img {
  height: 2.5em;
  width: auto;
}
.nav-bg .navbar {
  height: 3.125em;
  margin-bottom: 0;
  padding-left: 1em;
  padding-right: 1em;
}
.nav-bg .navbar .logo {
  background: white;
  display: inline-block;
  margin-top: 0.33em;
}
.nav-bg .menu-mobile {
  display: none;
}
.nav-bg .menu-mobile a {
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid #f0f0f0;
  display: block;
  width: 100%;
  padding: 1em;
}
.nav-bg .menu-mobile a:hover {
  background: #f0f0f0;
}
.nav-bg .menu-screen {
  display: none;
  float: right;
  line-height: 3.125em;
}
.nav-bg .menu-screen a {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin-right: 1em;
  padding: 0 0.5em;
  height: 2em;
  line-height: 2em;
}
.nav-bg .menu-screen a:hover {
  background: #f0f0f0;
}
.nav-bg .menu-screen a:last-child {
  margin-right: 0;
}
.button {
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin: 3rem auto;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  display: block;
  text-decoration: none;
  background: #00546d;
  font-weight: 400;
  box-shadow: 0 2px 0px #0099e7;
  border-radius: 0.375em;
  max-width: 16em;
}
.button:hover {
  background: white;
  color: #00546d;
}
.container {
  margin: 0;
}
.container .content {
  padding: 1em;
}
.container.textmain {
  max-width: 1300px;
  margin: 0 auto;
}
.container .head {
  background: #00c5ff;
}
.container.steps3 {
  background: #00546d;
}
.container.steps3 .content {
  padding-top: 1em;
}
.container.steps3 h2 {
  color: #ffffff;
}
.container.steps3 img {
  max-width: 80px;
}
.container.steps3 .columns {
  margin-bottom: 1em;
}
.container.code h2 {
  color: #323232;
  font-weight: 700;
  font-size: 1.5em;
}
.container.code p {
  text-align: center;
}
.container.code .linkunder {
  color: #323232;
}
.container.code .linkunder .bold {
  color: #323232;
}
.container.code .text {
  font-weight: 300;
  line-height: 1.5em;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}
.linkstep:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}
.codearea {
  background: #f0f0f0;
  padding: 2em;
  text-align: center;
  display: block;
  margin: 1.5em auto!important;
  font-family: "Source Code Pro";
  font-weight: 300;
  border-radius: 0.375em;
}
.textmain h2 {
  border-bottom: 1px solid #00c5ff;
  padding-bottom: 1em;
}
.textmain .subtitle {
  font-weight: 700;
  font-size: 1.8em;
}
.textmain ol {
  font-size: 1em;
  font-weight: 700;
}
.textmain ol.install {
  font-weight: 400;
}
.textmain ol img {
  max-width: 100%;
  border: 1px solid #00c5ff;
  margin: 1em;
}
.textmain ol p.bold {
  display: block;
  font-weight: 700;
}
.textmain ol a.bold {
  display: inline;
}
.textmain ol p {
  font-weight: 400;
  line-height: 1.5rem;
}
.textmain .codearea {
  width: 100%;
  text-align: left;
  font-size: 12px;
  line-height: 1.5em;
}
.textmain .codearea p {
  margin: 0;
  margin-left: 2em;
}
.textmain .codearea .refsyn {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 2em;
  line-height: 1em;
  word-spacing: 1em;
}
.textmain .codearea .helper {
  margin-bottom: 1em;
  opacity: 0.4;
  display: inline-block;
}
.textmain .example {
  text-align: center;
}
.textmain .ref {
  font-weight: 400;
}
.textmain .return {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.8em;
}
.textmain .reference > .subtitle {
  margin-top: 1em;
}
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10em;
  background: white;
  border-top: 1px solid #00c5ff;
  padding-bottom: 1em;
}
footer .columns {
  margin-bottom: 2em;
}
footer .ico {
  max-width: 50px;
  margin: 0 auto;
}
footer .foot {
  margin-top: 1em;
  font-size: 14px;
  text-align: left!important;
  margin-bottom: 1em;
  display: inline-block;
}
footer a {
  display: inline-block;
}
.lb {
  background: #00c5ff;
}
.steps {
  font-weight: 300;
  color: white;
  text-align: center;
}
.linkunder {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
  clear: both;
}
.linkunder .bold {
  color: #ffffff;
  text-decoration: underline;
}
.columns {
  width: 100%;
}
.columns p {
  text-align: center;
}
.columns.referencelist > h3,
.columns.referencelist > p {
  text-align: left!important;
}
.columns.referencelist > p {
  margin: 0;
}
@media only screen and (min-width: 320px) and (orientation: landscape) {
  .button {
    width: 80%;
  }
  .container {
    margin: 0;
  }
  .container .content {
    padding: 2em 3em;
  }
  .container .content {
    padding-top: 2em;
  }
  .navbar {
    margin: 0 2em;
  }
  .steps3 > .content > .columns {
    width: 33%;
    float: left;
  }
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 125%;
  }
  .container .content.head {
    padding-top: 5em;
  }
  .menu-mobile {
    display: none;
  }
  .navbar {
    margin: 0 0em;
  }
  .ham-btn > div {
    margin-top: 17px;
  }
  .button {
    max-width: 16em;
  }
  .columns {
    padding: 0px 1em 1em 1em;
  }
  .columns.referencelist {
    width: 33%;
    float: left;
  }
  .steps3 > .content > .columns {
    width: 33%;
    float: left;
  }
  .lead2 {
    margin: 0em 0;
  }
  .codearea {
    font-size: 16px!important;
  }
  footer {
    position: absolute;
  }
  footer .ico {
    margin: 0 0;
    margin-bottom: 1em;
  }
}
@media only screen and (min-width: 768px) and (orientation: landscape) {
  .columns {
    display: inline-block;
  }
  .button {
    max-width: 16em;
  }
  .steps3 > .content > .columns img {
    max-width: 175px;
  }
  .code .text {
    font-size: 1.5em;
  }
  footer .columns {
    width: 33%;
    float: left;
  }
  footer .foot {
    height: 7em;
  }
}
@media only screen and (min-width: 1025px) {
  body {
    font-size: 125%;
  }
  .nav-bg {
    padding: 0 3em;
  }
  .ham-btn,
  .menu-mobile {
    display: none!important;
  }
  .menu-screen {
    display: block!important;
  }
  .columns {
    width: 33%;
    float: left;
  }
  .columns h3 {
    height: 4rem;
    margin-bottom: 0;
  }
  .columns p {
    max-width: 400px;
    margin: 0 auto;
  }
  .steps3 .columns img {
    max-width: 175px;
  }
  .button {
    width: 220px;
  }
  .container .content.head {
    padding-top: 7em;
    padding-bottom: 5em;
  }
  .codearea {
    width: 66%;
    margin: 0 5em;
  }
  .sechead {
    padding-top: 5em!important;
    padding-bottom: 3em!important;
  }
  .textmain {
    margin: 0;
  }
  .textmain .content {
    padding: 2em 7em;
  }
  .textmain .codearea {
    width: 80%;
  }
}
@media only screen and (min-width: 1900px) {
  body {
    font-size: 150%;
  }
  .navbar,
  .content {
    margin: 0 auto;
    padding-left: 8em!important;
    padding-right: 8em!important;
  }
}
