* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro';
  color: #003645;
  margin-bottom: 271px;
}

header {
  position: fixed;
  top: 0;
  background: white;
  width: 100%;
  height: 70px;
  padding: 10px 0;
  border-bottom: 1px solid #00c5ff;
}

nav{
  float: right;
}

nav a{
  height: 50px;
  padding: 10px;
  margin-left:10px;
  line-height: 50px;
  font-weight: 300;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
  background-color: #f8f8f8;
  transition:background-color 0.2s linear;
}

.container-head {
  max-width: 1380px;
  margin: auto;
  padding: 0 40px;
}

.container {
  padding: 40px;
  max-width: 1380px;
  margin: auto;
}

header .logo img {
  height: 50px;
}

a {
  color: #003645;
}
a:hover {
  color: #00546d;
}

.ham-btn {
  display: none;
}

h1 {
  margin: 0px 20px;
  text-align: center;
  font-size: 48px;
}
h2 {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}
h3 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
h4 {
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0;
}

.main-lead {
  margin-top: 70px;
  padding-top: 100px;
  min-height: 500px;
  text-align: center;
  background-color: #00c5ff;
}

.main-lead h2 {
  margin-top: 15px;
  margin-bottom: 50px;
}

.cta {
  width: 240px;
  height: 50px;
  margin: 0 auto;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0 2px 0px #0099e7;
  background-color: #ffde00;
  color: black;
  display: block;
  transition:background-color 0.2s linear;
}
.cta:hover {
  background: white;
  color: #00546d;
}

.column{
  display: inline-block;
  margin-top: 40px;
  vertical-align: top;
  width: 33%;
  padding: 0 20px;
}

.column img {
  width: 75%;
  display: block;
  margin: auto;
}

.column p {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.howdoesit {
  text-align: center;
  margin-bottom: 60px;
}
.howdoesit p {
  font-weight: 300;
  font-size: 20px;
}
.howdoesit .code {
  width: 66%;
}
.howdoesit .linkunder {
  font-size: 20px;
  font-weight: 300;
}
.howdoesit .linkunder a {
  font-weight: 700;
}
.landing-textmid {
  background-color: #00c5ff;
  overflow: auto;
}
.landing-textmid img {
  width: 33%;
  float: left;
  margin-right: 60px;
}
.landing-textmid p {
  overflow: auto;
  text-align: left;
  margin-right: 20px;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 300;
}
.landing-textmid h3 {
  text-align: left;
}
.landing-end {
  background-color: #00c5ff;
  min-height: 260px;
}
.landing-end .cta {
  margin-bottom: 20px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  border-top: 1px solid #00c5ff;
}
footer .column {
  margin-top: 0;
}
footer img, footer .ico-small {
  width: 50px;
  margin-left: 0;
  margin-bottom: 20px;
}
footer .footer-txt {
  text-align: left;
  font-size: 14px;
  height: 100px;
  color: #696969;
}
footer a {
  font-weight: 700;
  display: inline-block;
}

.code {
  font-family: 'Source Code Pro';
  font-weight: 400;
  font-size: 14px;
  padding: 20px;
  background: #f0f0f0;
  margin: 20px auto;
  border-radius: 6px;
}

.bg-gray {
  background: #f8f8f8;
  padding: 60px 0;
}

.sidebar {
  position:fixed;
  background: #f0f0f0;
  width: 300px;
  margin-right: 40px;
  padding: 40px;
}
.sidebar a {
  font-weight: 700;
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}
.sidebar p > a {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0;
}
.sidebar h2 {
  text-align: left;
  margin-top: 0;
  font-size: 32px;
}

main {
  margin-left: 340px;
  float: none;
  width: auto;
  overflow: hidden;
  background: white;
  padding: 40px;
}
main h3 {
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
  margin: 0;
  margin-bottom: 30px;
  text-align: left;
}
main p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
  color: #323232;
}
main p span, main ul span {
  font-family: 'Source Code Pro';
  background: #f0f0f0;
  margin: 0 3px;
}
main img {
  max-width: 600px;
  display: block;
  margin: 40px auto;
}
main.examples {
  text-align: center;
}
main.examples img {
  margin: 20px auto;
}

.code .code-type {
  color: #90a6ac;
  margin-bottom: 10px;
}
.code.syntax > p {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-size: 24px;
  word-spacing: 15px;
  margin-bottom: 0;
}
.code .code-m {
  font-size: 14px;
  line-height: 1.5;
}
.code .code-m p {
  font-size: 14px;
  margin-left: 20px;
  margin-bottom: 0px;
}
.code-m>div>p{
  margin-left: 40px!important;
}


@media only screen and (max-width: 1050px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .column {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
    border-bottom: 1px solid lightgray;
  }
  .column img {
    width: 50%;
    min-width: 200px;
  }
  .column:nth-child(4) {
    border: none;
  }
  .main-lead {
    padding-top: 20px;
    min-height: 350px;
  }
  h1 {
    font-size: 40px;
    margin: 0;
  }
  h2 {
    font-size: 22px;
  }
  img {
    width: 50%;
  }
  .sidebar {
    float: none;
    width: 100%;
    position:initial;
  }
  .sidebar.reference > div {
    vertical-align: top;
    margin-right: 40px;
  }
  main {
    margin-left: 0;
  }
  .examples > img {
    max-width: 75px;
  }
  header > .container-head {
    padding: 0 20px;
  }
  header > .container-head img {
    width: 146px;
  }
  header > .container-head nav {
    display: none;
    float: none;
    background: white;
  }
  header > .container-head nav a {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 20px;
  }
  .ham-btn {
    display: block;
    float: right;
    width: 50px;
    height: 50px;
  }
  .ham-btn:hover {
    background: #f0f0f0;
  }
  .ham-btn div {
    margin: 10px;
    margin-top: 14px;
  }
  .ham-btn div span {
    margin-top: 20%;
    height: 4px;
    background: black;
    display: block;
  }
  .ham-btn div span:nth-child(1) {
    margin-top: 0;
  }
  .logo {
    min-width: 200px;
  }
  .ico-small {
    min-width: 50px!important;
    width: 50px!important;
    margin-top: 20px!important;
  }
  .landing-textmid img {
    float: none;
    display: block;
    margin: auto;
    min-width: 200px;
  }
  .landing-textmid p,
  .landing-textmid h3 {
    text-align: center;
  }
  .howdoesit {
    padding: 0;
  }
  .howdoesit .container {
    margin: 0!important;
  }
  .howdoesit .code {
    width: 100%;
  }
  .code {
    width: 100%;
  }
  body {
    margin-bottom: 0;
  }
  footer {
    position: relative;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  main{
    padding:40px 20px;
  }
  .bg-gray{
    padding-top: 20px;
  }
  .main-lead, .container>.column, .landing-textmid, .howdoesit>.container, .landing-end{
    padding-left: 20px;
    padding-right: 20px;
  }
  .howdoesit>.container>.code{
    word-wrap:break-word;
  }
  footer{
    padding: 10px;
  }
}
/*

.bg-gray.howdoesit > .container {
  margin: 0 auto;
  background: white;
  border-top: 1px solid #00c5ff;
  border-bottom: 1px solid #00c5ff;
}

 */