//zmienne

@lightblue: #0099E7;
@darkblue: #00546D;
@bgray: #F2F2F2;

body{
	padding:0px;
	margin:0px;
	background: @darkblue;
	
#square{
	width: 800px;
	
		margin: 0 auto;
	img{
		margin: 0 auto;
		display: block;
		margin-top: 30px;
	}
	h1{
		font-family: "Roboto slab";
		font-weight: 400;
		font-size: 36px;
		text-shadow: 0px 1px black;
		text-align: center;
		color: white;
	}
	h2{
		font-family: "Roboto slab";
		font-weight: 300;
		font-size: 24px;
		text-shadow: 0px 1px black;
		text-align: center;
		color: white;
	}
}

}	

